﻿/* CSS Document */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

body {
    color: #222;
    text-align: center;
    margin: 0;
    padding: 0;
    /*background: #1d1d1d;*/
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 100%;
}

h1 {
    color: #739F16;
}

form, p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

#chatwindow, #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #EBF4FB;
    width: 704px;
    border: 1px solid #ACD8F0;
}

#chatwindow {
    float: right;
    margin-right: 200px;
    margin-top: 40px;
}

#loginform {
    padding-top: 18px;
}

    #loginform p {
        margin: 5px;
    }

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 270px;
    width: 625px;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

#usermsg {
    width: 395px;
    border: 1px solid #ACD8F0;
}

#submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    float: left;
}

.logout {
    float: right;
}

.msgln {
    margin: 0 0 2px 0;
}

ul#user-list {
    list-style: none;
    font-size: .75em;
    margin: 30px 0;
}

    ul#user-list li.user-element h3,
    ul#user-list li.user-element a {
        display: block;
        width: 150px;
        padding: 5px 15px;
        margin: 0;
        margin-bottom: 5px;
    }

    ul#user-list li.user-element h3 {
        color: #fff;
        background: #333;
        border: 1px solid #1a1a1a;
        font-weight: normal;
    }

    ul#user-list li.user-element a {
        color: black;
        background: #EBF4FB;
        border: 1px solid #1a1a1a;
        text-decoration: none;
    }

        ul#user-list li.user-element a:hover {
            color: blue;
            font-weight: bold;
        }

#users-div {
    float: left;
}

#error-messages {
    color: red;
}

#profile-field {
    background: #EBF4FB;
    height: 60px;
    line-height: 60px;
    position: relative;
}

    #profile-field img {
        margin-top: 5px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #profile-field #username {
        margin-left: 70px;
    }

    #profile-field #logoutbutton {
        cursor: pointer;
    }

    #profile-field img,
    #profile-field span,
    #profile-field a,
    #profile-field form {
        padding: 0 10px;
    }

.userlistProfilePicture {
    width: 50px;
    height: 50px;
}
